@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,700|Open+Sans:400,700');

$firstColor: #89216b;
$secondColor: #DA4452;
$thirdColor: #ff8c00;

$titleFont: 'Dosis', sans-serif;
$textFont: 'Open Sans', sans-serif;
